# for the modeling branch:

# Ignore everything by default
*

# Track Jupyter notebooks
!*.ipynb

# Track specific directories
!Spam Model Notebooks/
!Flight Model Notebooks/
!Wine Model Notebooks/

# Track .gitignore, .DS_Store, etc.
!.gitignore
!.DS_Store
!README.md
!__pycache__/
!.devcontainer/
