# for the main branch:

# Ignore everything by default
*

# Track Python files
!*.py

# Track images/ directory
!images/

# Track requirements.txt
!requirements.txt

# Track .gitattributes
!.gitattributes

# Track .DS_Store
!.DS_Store

# Track .devcontainer/ directory
!.devcontainer/

# Track README.md
!README.md

# Track __pycache__/ directory
!__pycache__/

# Ignore the pickled_data/ folder
pickled_data/

# Ignore the DataSets/ folder
DataSets/